<div class="container">
    <select class="custom-select mr-4" (change)="onChange($event)" [routerLink]="['blog']">
        <option selected>Category filter</option>
        <option value="AllPosts">All Posts</option>
        <option value="Programming">Programming</option>
        <option value="Tech">Tech</option>
        <option value="Machine_learning">Machine Learning</option>
    </select>
    <div class="row col-md-12 mt-5 mb-3" *ngFor="let post of arrPosts">
        <h2>{{ post.title }}</h2>
        <div class="contenidoPost">
            <div class="image">
                <img src="{{ post.image }}">
            </div>
            <div class="text">
                <p class="cat">Category: {{ post.category }}</p>
                <p class="txt">{{ post.textArea }}</p>
                <div class="footerPost">
                    <small>{{ post.author }}</small>
                    <button class="btn btn-dark ml-5 mb-1" (click)="onClick(post)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>